.salutation{
    font-size: 3.0rem;
    min-height: 100px;
}

.presentation{
    font-size: 1.5rem;
    width: 60%;
}

@media (max-width: 1024px) {
  .presentation{
    width: 100%;
    justify-content: left;
    margin-left: 10px;
    margin-right: 10px;
  }

  .salutation{
    margin-left: 10px;
  }
}

