@use "../styles/variables" as *;

.salutation {
  font-size: 3rem;
  min-height: 100px;
  padding-top: 50px;
}

.presentation {
  font-size: 1.5rem;
  width: 60%;
}

#nameEmailMessageContactForm {
  width: 100%;
  display: flex;
  column-gap: 20px;
}

#nameAndEmailContactForm {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
}

#messageContactForm {
  width: 50%;
  display: flex;
}

.contactComponent {
  display: flex;
  width: 100%;
}

.messageInputField {
  .MuiOutlinedInput-root {
    height: 100%;
    align-items: "flex-start";
    text-align: "left";
    overflow: auto;
  }
}

.customInputField {
  .MuiOutlinedInput-root {
    border-radius: 24px;
    fieldset {
      border-radius: 24px;
    }
  }

  .MuiInputBase-input {
    font-family: monospace, "Varela Round", sans-serif;
    font-size: 16px;
  }
}

.customButton {
  .MuiOutlinedInput-root {
    border-radius: 24px;

    fieldset {
      border-radius: 24px;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (max-width: $mobileWidth) {
  #nameEmailMessageContactForm {
    flex-direction: column;
    width: 100%;
  }

  #nameAndEmailContactForm {
    width: 100%;
  }

  #messageContactForm {
    width: 100%;
  }
}

@media (max-width: $tabletWidth) {
  #nameEmailMessageContactForm {
    flex-direction: column;
    width: 100%;
  }

  #nameAndEmailContactForm {
    width: 100%;
  }

  #messageContactForm {
    width: 100%;
  }
}

@media (max-width: $laptopWidth) {
  .introduction {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .presentation {
    display: flex;
    width: 90%;
    justify-content: left;
    margin-left: 0px;
  }

  .salutation {
    display: flex;
    width: 90%;
    align-items: center;
    margin-left: 0px;
  }

  .contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
