@use "../styles/variables" as *;

@mixin animatedButton($backgroundColour) {
  margin-top: 0;
  padding: 0.75rem 2.5rem;
  font-size: 1.25rem;
  font-family: monospace;
  background-color: $backgroundColour;
  color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 1px 1px 4px 1px black;

  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, border-radius 0.3s ease;

  &:hover {
    background-color: darken($backgroundColour, 10%);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 0px;
  }

  &:active {
    background-color: darken($backgroundColour, 20%);
    transform: scale(0.95);
  }
}

.navbarButton {
  margin-right: 20px;
  margin-left: 8px;
  @include animatedButton($btn-primary);
}

.customButton {
  margin-right: 20px;
  margin-left: 8px;
  @include animatedButton(red);
}

.statusClearSendButtons {
  display: flex;
  width: 100%;
}

.clearAndSendButtons {
  display: flex;

  align-items: end;
  justify-self: end;
  justify-content: end;
  align-self: flex-end;

  align-items: end;
  align-self: flex-end;
  text-align: end;
  justify-content: end;
  justify-self: end;
  align-content: end;
  width: 100%;
}

.clearMessageButton {
  margin-right: 20px;
  margin-left: 8px;
  @include animatedButton($btn-warning);
}

.sendMessageButton {
  margin-right: 0px;
  margin-left: 8px;
  @include animatedButton($btn-secondary);
}

.downloadResumeButton {
  padding: 12px 80px;
  font-size: 1.25rem;
  font-family: monospace;
  background-color: $btn-primary;
  color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 4px 1px black;

  transition: background-color 0.3s ease, border-radius 0.3s ease;

  &:hover {
    background-color: darken($btn-primary, 10%);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &:active {
    background-color: darken($btn-primary, 20%);
    transform: scale(0.95);
  }

  .MuiButton-label {
    font-family: monospace;
  }
}

// Media Queries
@media (max-width: $mobileWidth) {
  .navbarButton {
    padding: 15px;
    margin-right: 0px;
  }

  .statusClearSendButtons {
    flex-direction: column;
  }

  .clearAndSendButtons {
    align-items: center;
    justify-self: center;
    justify-content: center;
    align-self: center;

    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
  }

  .downloadResumeButton {
    padding: 1px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: $laptopWidth) {
}

@media (max-width: $mobileWidth) {
}
