.sectionTitle{
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
    width: 100%;
}

@mixin customSection {
    border-width: 1px;
    border-radius: 10px;
    border-top-width: 0px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.introduction{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.experience{
    @include customSection;

    .duration{
        font-style: italic;
        font-size: 0.8rem;
    }
}

.experiencePosition{
    font-weight: bold;
}

.experienceLocation{
    font-weight: bold;
    padding-right: 20px;
}

.experiencePosLoc{
    display:flex;
    justify-content: space-between; 
    align-items: center;
}

.experienceCompanyName{
    font-style: italic;
    width: 60px !important;
}

.experienceCompanyLogo{
    width: 120px;
}

.education{
    @include customSection;
}

.educationCourseName{
    font-weight: bold;
}

.educationInstitutionLogo{
    width: 120px;
}

.educationLocation{
    font-weight: bold;
    padding-right: 20px;
}

.educationCourseLocation{
    display:flex;
    justify-content: space-between; 
    align-items: center;
}

.skillSection{
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 1024px) {
  .sectionTitle{
    width: 100%;
    justify-content: left;
    margin-left: 10px;
    margin-right: 10px;
  }

  .skillSection{
    margin-left: 10px;
    margin-right: 10px;

  }
}