@use "../styles/variables" as *;

@mixin customSection {
  border-width: 1px;
  border-radius: 10px;
  border-top-width: 0px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#skills {
  width: 100%;
  margin-top: 20px;
}

#contactFormSalutation {
  display: flex;
  font-size: 1.5rem;
  margin-top: 20px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.sectionTitle {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

.introduction {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.experience {
  @include customSection;

  .duration {
    font-style: italic;
    font-size: 0.8rem;
  }
}

.experiencePosition {
  font-weight: bold;
}

.experienceLocation {
  font-weight: bold;
  padding-right: 20px;
}

.experiencePosLoc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experienceCompanyName {
  font-style: italic;
  width: 60px !important;
}

.experienceCompanyLogo {
  width: 120px;
}

.education {
  @include customSection;
}

.educationCourseName {
  font-weight: bold;
}

.educationInstitutionLogo {
  width: 120px;
}

.educationLocation {
  font-weight: bold;
  padding-right: 20px;
}

.educationCourseLocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skillSections {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.skill {
  padding: 5px;
}

.skillSectionTitle {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: start;
}

.skillSection {
  margin-top: 20px;
  width: 100%;
  align-items: center;
}

#siteSignature {
  align-self: center;
  justify-self: start;
  min-width: 20%;
  margin-left: 20px;
}

.gameTagsHomePage {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.unityLogoHomePage {
  width: 64px;
  height: 30px;
  padding-top: 5px;
}

.openGlLogoHomePage {
  display: flex;
  align-items: center;
  vertical-align: center;
  width: 64px;
  height: 30px;
}

@media (max-width: $laptopWidth) {
  #contactFormSalutation {
    width: 100%;
    justify-content: center;
  }

  .sectionTitle {
    width: 100%;
    justify-content: left;
  }

  .skillSection {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: $mobileWidth) {
  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #contactFormSalutation {
    margin: 0px;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
  }

  .introduction {
    width: 90%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .skillSectionTitle {
    font-weight: bold;
    font-size: 1rem;
    text-align: start;
  }

  .skillSections {
    display: flex;
    width: 90%;
    margin-bottom: 30px;
    font-size: 0.9rem;
  }

  .skillSection {
    width: 90%;
  }
}
