.navigation {
  width: 100%;
}

.navLink {
  display: block;
  color: #4fd1c5; // text-teal-200
  margin-right: 1rem;
  text-decoration: none; 
  justify-content: center;
  align-items: center;
  text-align: center; 

  &:hover {
    color: white;
  }
}

.activeNavLink {
  color: white !important;
}

.navigationItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinkLeft {
  display: flex;
  gap: 1rem;
}

.navLinkRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-left: 5px;
  margin-right: 5px;
}

.navLinkRightIcon {
  align-items: center;
  width: 34px;
  height: 34px;
  margin-left: 5px;
  margin-right: 5px;
}

.itchIcon {
  width: 34px;
  height: 34px;
  color: black;
  transition: color 0.3s;

  &:hover {
    color: #fa5c5c;
  }
}

.navLinkLeft {
  .navLink{
    display: none;
  }
}

// Media Queries 
@media (min-width: 500px) {
  .navLinkLeft {
    .navLink{
      display: block;
    }

    .menuBurger{
      display: none;
    }
  }
}


