$primaryColor: #4fd1c5; // text-teal-200

.navigation {
  width: 100%;
}

#resumeButton {
  color: white;
  border-color: violet;
  background-color: blueviolet;
  border-width: 10px;
  padding: 10px;
  border-radius: 3px;
}

$red1: #ff9a9a; 
$red2: #ff7b7b; 
$red3: #ff5c5c; 

.navbar {
  background: linear-gradient(90deg, $red1, $red2, $red3);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

.socialMediaLinks{
  align-items: end;
  display: flex;
  width: 100%;
  height: 100%;
}

.navbarName{
  display: flex;
  vertical-align: center;
  font-size: 1.5rem;
  font-weight: 900;
    width: 100%;
  height: 100%;
  margin-left: 20px;
}

.navbarButton{
  margin-top: 0;
  margin-right: 20px;
  margin-left: 8px;
  padding: 0.75rem 2.5rem;
  font-size: 0.75rem;
  font-family: monospace;
  background-color: #32c48d;
  color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    border-radius 0.3s ease;

  &:hover {
    background-color: darken(#32c48d, 10%);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 0px;
  }
}

.navbarNavButtons{
  display: flex;
}

.navbarButtons {
  display:flex;
  align-items: end;
}

$btn-primary: #32c48d; 
$btn-secondary: #c0392b; 
$btn-accent: #ffffff; 
$btn-text: #7f1d1d; 

.customButton {
  margin-top: 0;
  padding: 6px 20px;
  font-size: 0.75rem;
  font-family: monospace;
  background-color: $btn-primary;
  color: white;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

    &.primary {
    background-color: $btn-primary;
    color: white;

    &:hover {
      background-color: darken($btn-primary, 10%);
    }
  }

  &.secondary {
    background-color: $btn-secondary;
    color: white;

    &:hover {
      background-color: darken($btn-secondary, 10%);
    }
  }

  &.accent {
    background-color: $btn-accent;
    color: $btn-secondary;

    &:hover {
      background-color: lighten($btn-accent, 5%);
    }
  }
}

.customIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  border-radius: 6px;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  color: white;

  svg {
    position: relative;
    z-index: 1;
  }
}

.githubIcon {
  background-color: black;
}

.linkedinIcon {
  background-color: rgb(25, 118, 210);
}

.itchLogoImage {
  width: 20px;
  height: 20px;
}

.itchCustomIcon {
  background-color: rgba(255, 36, 74, 255);
}

.navLink {
  display: block;
  color: $primaryColor;
  margin-right: 1rem;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:hover {
    color: white;
  }
}

.activeNavLink {
  color: white !important;
}

.navigationItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinkLeft {
  display: flex;
  gap: 1rem;
}

.navLinkRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-left: 5px;
  margin-right: 5px;
}

.navLinkRightIcon {
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

.itchIcon {
  width: 34px;
  height: 34px;
  color: black;
  transition: color 0.3s;


  &:hover {
    color: #fa5c5c;
  }
}

.footerSocialMediaLinks{
  align-items: end;
  margin-right: 10px;
}

.navLinkLeft {
  .navLink {
    display: none;
  }
}

.mobileNav {
  width: 100%;
  height: 0;
  color: black;
  transition: height 0.8s, background-color 0.8s;
  overflow: hidden;
}

.expandedNav {
  background-color: $primaryColor;
  height: 72px;
}

.navExpandedLink {
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: white;
  }
}

// Media Queries
@media (min-width: 500px) {
  .navLinkLeft {
    .navLink {
      display: block;
    }

    .menuBurger {
      display: none;
    }
  }

  .expandedNav {
    display: none;
  }
}
