@mixin pageSpacing{
    margin-left: 20px;
    margin-top: 20px;
    width: 80%;
}

.siteWrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.siteBodyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.homePage{
    @include pageSpacing;
}

.gamesPage{
    @include pageSpacing;
}

.aboutPage{
    @include pageSpacing;
}

.contactPage{
    @include pageSpacing;
}

.sitefooter{
    background-color: teal;
    min-height: 80px;
    margin-top: 30px;
}