@use "../styles/variables" as *;

@mixin pageSpacing {
  margin-left: 20px;
  margin-top: 20px;
  width: 80%;
}

.siteWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.siteBodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.homePage {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gamesPage {
  @include pageSpacing;
}

.aboutPage {
  @include pageSpacing;
}

.sitefooter {
  background-color: $footer-burgundy;
  color: #f2f2f2;
  min-height: 80px;
  margin-top: 30px;
  display: flex;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.siteBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contactPage {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: $laptopWidth) {
  .siteBodyContainer {
    margin-left: 30px;
  }

  .homePage {
    width: 100%;
    margin-left: 0px;
  }

  .siteBodyContainer {
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: $tabletWidth) {
  .contactPage {
    width: 90%;
  }
}
