// Screen sizes
$tabletWidth: 768px;
$mobileWidth: 499px;
$laptopWidth: 1024px;

$footer-burgundy: #4a1c1c;

// Buttons
$clearButton: red;
$sendButton: blue;

$btn-primary: #32c48d;
$btn-secondary: #7bbcf3;
$btn-terciary: #c0392b;
$btn-warning: #e95f53;
$btn-accent: #ffffff;
$btn-text: #7f1d1d;
